h2 {
  margin-bottom: 20px;
}

a.navbar-brand {
    position: relative;
    z-index: 1;
}

a {
  color: green;
}

a:hover {
  color: black;
}

.masthead {
  height: 90vh;
  min-height: 500px;
  background-image: url("images/planet-earth-water-color-illustration-122752068__1_-removebg-preview.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* old settings
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

/* Logo from font */
.navbar-brand { 
  font-family: "Comfortaa";
}


/* Picutres on about.html  */
.img-small {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* Pictures on suppliers.html */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* Newsletter signup if needed https://codepen.io/blehnert/pen/tfdmI */


/* Smooth scroll */

html {
  scroll-behavior: smooth;
}




/*! Start Bootstrap - Landing Page v5.0.8 (https://startbootstrap.com/themes/landing-page)
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-landing-page/blob/master/LICENSE)
 */

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}



